<div id="eventos">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha Inicio</th>
        <th scope="col">Fecha Fin</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of listaEventos | async">
        <td>{{evento.nombre}}</td>
        <td>{{evento.fechaInicio}}</td>
        <td>{{evento.fechaFin}}</td>
        <td>{{evento.suspendido === 'S' ? 'Suspendido' : "Activo"}}</td>
        <td>
          <button class="btn btn-primary" (click)="actualizarEstado(evento)"><i class="fas fa-sliders-h" data-toggle="tooltip" data-placement="bottom" title="Cambiar estado"></i></button>
          <button class="btn btn-primary" (click)="irActualizar(evento)" data-toggle="tooltip" data-placement="bottom" title="Actualizar"><i class="fas fa-pen"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>